body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

code {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.2px;
  text-overflow: ellipsis;
}
