@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

code {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}




* {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.2px;
  text-overflow: ellipsis;
}